/*******************/
/*  Header style   */
/*******************/

#header>.container-fluid>.row:first-child {
	padding: 10px;

	background-color: #2185D5;
	box-shadow: 1px 1px 8px #737373;

	font-family: 'Open Sans', Arial, sans-serif;
}

#header>.container-fluid>.row:nth-child(2) {
	padding: 2em;
}

#header>.container-fluid>.row div:nth-child(2) {
	display: flex;
	align-items: center;
}

#header .row:first-child div:nth-child(2) form.search {
	display: flex;
	flex-direction: row;

	width: 100%;
	margin: 0;
}

#header .row:first-child div:nth-child(2) form.search .input-group {
	margin: 0;
}

#header .row:first-child div:nth-child(2) form.search button {
	cursor: pointer;

	font-size:1.2em;
}

#header .row:first-child div:nth-child(2) form.search button#btnFilters {
	background: white;
}

#header .dropdown-menu {
	width: 100%;
}

#header .row:first-child>div:last-child {
	display:flex;
	align-items: center;
	justify-content: flex-end;
}

#header .row:first-child h1 {
	margin: 0;

	text-transform: uppercase;

	color: #fff;

	font-family: Montserrat, Arial, sans-serif;
	font-size: 1.2em;
}

/******************************/
/*  Header responsive style   */
/******************************/

@media (max-width: 768px) {
	#header>.container-fluid>.row div:nth-child(2) {
		margin-top: 1em;
	}
}
