/*******************/
/*   Login style   */
/*******************/

#login {
  width: 100vw;
  height: 100vh;

  background:url('../img/background.jpg') center no-repeat;
  background-size: cover;
}

#login:before {
  position: absolute;
  top: 0; right: 0;bottom: 0;
  left: 0;

  content: "";

  background: rgba(0,0,0,.5);
}

#login .row {
  display: flex;
  align-items: center;

  min-height: 100%;
  min-height: 100vh;
}

#login .content {
  padding: 5em;
}

#login h1 {
  text-transform: uppercase;

  color: white;
  text-shadow: 0px 0px 3px #ddd;

  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
}

#login form {
  padding: 2.5em 5em;

  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
}

#login form input {
  background: #eee;
}

#login form input:focus {
  background: #fff;
}

#login form .login-erros {
  margin-top: 2.5em;

  text-align: center;

  font-size: 0.8em;
}

@media (max-width: 960px) {
  #login form {
    padding: 1em;
    width: 100%;
  }
}
