/*******************/
/*  Upload style   */
/*******************/

#areaDrapandDrop{
  height: 150px;
  border: 5px dashed #2185D5;
  border-radius: 5px;
}
#file:hover{
  cursor: pointer;
}

#texteFile{
	text-align: center;
  margin-top: -100px;
  color: #2185D5;
  font-family: 'Open Sans', Arial, sans-serif;
}
#file{
	width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

