@media all and (min-width: 950px) {

	body{
		height: 100%;
		display: flex;
		flex-direction: column;
	}


	.navbar{
		margin-bottom: 50px;		
	}

	.container{
		margin-bottom: 50px;
		flex-direction: column;
	}

	.navbar{
		padding: 25px 25px 25px 25px;
	}	

	.row {
		margin: 2px 0 0 0;
		justify-content: center;
	}

	.col {
		margin: 0 0 20px 0;
	}

	.card{
		margin-bottom: 25px;
		height: 200px;
	}


    @media (min-width: 950px){
		.modal-dialog {
		    max-width: 1500px;
		    padding: 10px 10px 10px 10px;
		}

		.petit{
		    max-width: 500px;
		    padding: 10px 10px 10px 10px;			
		}
	}	
	
	.mobile{
		display: none;
	}

}

@media not all and (min-width: 950px) {

	.modal-dialog {
		max-width: 600px;
	    padding: 10px 10px 10px 10px;
	}

	body{
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.navbar, .container{
		margin-bottom: 50px;
	}		

	.container-fluid{
		width : 100%;
	}

	.container-fluid > .row{
		display: flex;
		flex-direction: column;		
		margin: 2px 0 0 0;
	}	

	.row {
		margin: 20px 0 0 0;
	}

	.col {
		margin: 0 0 20px 0;
		min-height: initial !important;			
    }

    .ordinateur{
    	display: none;	
    }

    .centrer{  	
    	margin : 0 50px 0 50px;
    	text-align: center;	
    }


    .bojeu{
    	display: flex;
    	flex-direction: column;
    }

	.card{
		margin-bottom: 25px;
		height: 200px;
	} 


	@media all and (max-width: 782px) {
		.container > .row{
			display: flex;
			flex-direction: column;		
			margin: 2px 0 0 0;
		}

		.container{
			width : 100%;
		}

		.card{
			margin-bottom: 25px;
			height: 200px;
		}


	}
}

