.divSalle
{
	border-radius: 10px;
	margin-bottom: 20px;
}

#panneau_princ,#panneau_login,#txthead
{
	display: none;
}

#calendar
{
	/*max-width: 900px;*/
}
/*
.fc-agendaWeek-view tr {
    height: 30px;
}

.fc-agendaDay-view tr {
    height: 30px;
}
/*
#contentCal {
    height:calc(100vh - 480px);
}*/

@media only screen and (max-width: 900px) {
    header{
        max-height: 100px;
    }
    header h1{
        font-size: 1.1em;
        margin:10px 0px 10px 0px !important;
    }
    h2{
         font-size: 1.1em;
    }
}